@model RiseAndShine.Models.ViewModels.ServiceRequestUserProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr />
<div>
    <h4>Service Requests</h4>
    <div class="container-fluid">
        <dd>
            <dl class="row">

                @foreach (ServiceRequest sr in Model.ServiceRequests)
                {
                    <form asp-action="Edit">
                        <div class="card m-4" style="width: 30rem height:20rem ;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <dd>
                                       
                                             
                                                <input hidden asp-for="ServiceRequest.CarId" value="@Context.Request.RouteValues["id"]">
                                                                                   
                                                <input hidden asp-for="ServiceRequest.Id"/>


                                            <input hidden asp-for="ServiceRequest.ServiceProviderId" value="@sr.ServiceProviderId" />
                                                
                                                
                                           
                                            <div>
                                                <label class="font-weight-bold">Service Provider:</label>
                                                <span>@sr.UserProfile.Name</span>
                                            </div>
                                            <div>
                                                <label class="font-weight-bold">Service Date:</label>
                                                <span>@sr.ServiceDate</span>
                                            </div>

                                            <div>
                                                <label class="font-weight-bold">Notes:</label>
                                                <input type="text" asp-for="ServiceRequest.Note" />
                                            </div>

                                            <div>
                                                <select asp-for="ServiceRequest.DetailTypeId" class="form-control">
                                                    <option border="dark" value="PackageType.Id">select package type...</option>
                                                    @foreach (PackageType pt in Model.PackageTypes)
                                                    {
                                                        <option value="@pt.Id">@($"{pt.Name} ${pt.Price}")</option>
                                                    }
                                                </select>
                                            </div>


                                            <input type="submit" method="post" value="SELECT SERVICE REQUEST" text-center class="btn btn-outline-dark" />

                                            <div>
                                            </div>

                                        </dd>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }

            </dl>
        </dd>
        <div>
        </div>
        <div>

            <a asp-action="Details">Back to List</a>
        </div>
