@model RiseAndShine.Models.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Account Details</h1>

<div>
    <h4>@Model.UserProfile.Name</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.FirebaseUserId)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.FirebaseUserId)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.UserType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.UserType.Name)
        </dd>
        @*<dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.ImageURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.ImageURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Address)
        </dd>
        <dt>

            @foreach (Vehicle car in Model.Vehicles)
            {
                <div class="card m-4" style="width: 18rem;">
                    @if (String.IsNullOrEmpty(car.ImageUrl))
                    {
                        <img src="/Images/vehicle.png"
                     style="height : 50px; width : 50px"
                     class="card-img-top"
                     alt="RiseAndShine" />
                    }
                    else
                    {
                        <img src="@car.ImageUrl" class="card-img-top" alt="RiseAndShine_Car" />
                    }
                    <div class="card-body">
                        <div>
                            <label class="font-weight-bold">Make:</label>
                            <span>@car.Make</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Model:</label>
                            <span>@car.Model</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Color:</label>
                            <span>@car.Color</span>
                        </div>
                    </div>
                </div>
            }
        </dt>

        <dd>
            <a type="button" class="btn btn-primary" asp-controller="Vehicle" asp-action="Create">Add Vehicle </a>

        </dd>

    </dl>
</div>
<td>
</td>

