@model RiseAndShine.Models.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Account Details</h1>


<div class="col-md-12 bg-dark text-left">
</div>

<h4>@Model.UserProfile.Name</h4>
<hr />
<a type="button" text-right class="btn btn-outline-dark" asp-controller="Vehicle" asp-action="Create">Add Vehicle </a>




<div class="container mt-2 bg-light">

    <div class="d-flex p-2">
        <div class="card m-4 text-white bg-dark mb-3" style="width: 16rem; height: 20rem;">
            <div class="card-body">
                <dt>
                    @Html.DisplayNameFor(model => model.UserProfile.UserType)
                </dt>
                <dd hidden>
                    @Html.DisplayFor(model => model.UserProfile.UserType.Name)
                </dd>

                <dd>
                    <div>
                        <img src="/Images/Vehicle_Owner.png"
                             style="height : 60px; width :60px"
                             class="card-img-top"
                             alt="RiseAndShine_Avatar" />
                    </div>

                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UserProfile.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserProfile.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UserProfile.Phone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserProfile.Phone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UserProfile.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserProfile.Address)
                </dd>
                <dt>
            </div>
        </div>


        <div>
            <dl class="row">
                @foreach (Vehicle car in Model.Vehicles)
                {

                    <div class="card m-4" style="width: 16rem; height: 20rem;">
                        @* @if (String.IsNullOrEmpty(car.ImageUrl))*@
                        @*{*@
                        <img class="img-fluid img-thumbnail" style="width: 100%; height:80%;" src="@car.ImageUrl" alt="RiseAndShine_Car" />

                        @*}
                    else
                    {*@
                        @* <dt>
                    <div>
                    <img src="/Images/vehicle.png"
                    style="height : 30px; width : 30px"
                    class="card-img-top"
                    alt="RiseAndShine" />
                    </div>
                    </dt>*@


                        @*}*@

                        <div class="card-body">
                            <div>
                                <label class="font-weight-bold">Make:</label>
                                <span>@car.Make</span>
                            </div>
                            <div>
                                <label class="font-weight-bold">Model:</label>
                                <span>@car.Model</span>
                            </div>
                            <div>
                                <label class="font-weight-bold">Color:</label>
                                <span>@car.Color</span>
                            </div>
                            <span>

                                <a asp-route-id="@car.Id" type="button" text-right class="btn btn-outline-dark" asp-controller="ServiceRequest" asp-action="Details">SCHEDULE SERVICE</a>
                            </span>
                        </div>
                    </div>

                }

            </dl>

        </div>

    </div>








    <dd>
        <dl class="row">
            @foreach (ServiceRequest sr in Model.ServiceRequests)
            {
                <div class="card m-4" style="width: 16rem; height: 26rem;">
                    <dt>
                        <img src="/Images/service-yellow.png"
                         style="height : 30px; width :30px"
                         class="card-img-top"
                         alt="RiseAndShine" />
                    </dt>
                    <dd class="card-body">
                        <h4>Service Request</h4>

                        <div>
                            <label class="font-weight-bold"></label>
                            <span>@sr.Vehicle.Make</span>
                        </div>


                        <div>
                            <label class="font-weight-bold">Service Provider:</label>
                            <span>@sr.UserProfile.Name</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Service Date:</label>
                            <span>@sr.ServiceDate</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Notes:</label>
                            <span>@sr.Note</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Package Type:</label>
                            <span>@sr.PackageType.Name</span>
                            <label class="font-weight-bold">Price:</label>
                            <span>@($"${sr.PackageType.Price}")</span>
                        </div>
                        <span>
                            @Html.ActionLink("Edit", "Edit", new { id=sr.Id}) |
                            @*<a>Back to List</a> |*@
                            @Html.ActionLink("Delete", "Delete", new { id=sr.Id })
                        </span>
                        <div>
                        </div>

                    </dd>
                </div>
            }
        </dl>
    </dd>
</div>






