@model RiseAndShine.Models.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Account Details</h1>

<div>
    <h4>@Model.UserProfile.Name</h4>
    <hr />
    <dl class="row">
        <div class="card-body">
            @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirebaseUserId)
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirebaseUserId)
            </dd>*@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserProfile.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserProfile.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserProfile.UserType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserProfile.UserType.Name)
            </dd>
            @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
            </dd>*@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserProfile.ImageURL)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserProfile.ImageURL)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserProfile.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserProfile.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserProfile.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserProfile.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserProfile.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserProfile.Address)
            </dd>
            <dt>
        </div>
    </dl>
    <dt>
        <dl class="row">
            @foreach (Vehicle car in Model.Vehicles)
            {
                <div class="card m-4" style="width: 10rem;">
                    @if (String.IsNullOrEmpty(car.ImageUrl))
                    {
                        <img src="/Images/vehicle.png"
                     style="height : 30px; width : 30px"
                     class="card-img-top"
                     alt="RiseAndShine" />
                    }
                    else
                    {
                        <img src="@car.ImageUrl" class="card-img-top" alt="RiseAndShine_Car" />
                    }
                    <div class="card-body">
                        <div>
                            <label class="font-weight-bold">Make:</label>
                            <span>@car.Make</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Model:</label>
                            <span>@car.Model</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Color:</label>
                            <span>@car.Color</span>
                        </div>
                    </div>
                </div>
            }
        </dl>
    </dt>
    <dd>
        <dl class="row">
            @foreach (ServiceRequest sr in Model.ServiceRequests)
            {
                <div class="card m-4" style="width: 14rem;">
                    <div>
                        <img src="/Images/vehicle.png"
                         style="height : 20px; width : 20px"
                         class="card-img-top"
                         alt="RiseAndShine" />
                    </div>
                    <div class="card-body">
                        <h4>Service Requests</h4>
                        <div>
                            <label class="font-weight-bold">Vehicle Make:</label>
                            <span>@sr.ServiceProviderId</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Service Provider:</label>
                            <span>@sr.ServiceProviderId</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Service Date:</label>
                            <span>@sr.ServiceDate.Date</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Notes:</label>
                            <span>@sr.Note</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Package Type:</label>
                            <span>@sr.Package.Name</span>
                            <label class="font-weight-bold">Price:</label>
                            <span>@($"${sr.Package.Price}")</span>
                        </div>
                        <div>                          
                            <span>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceRequests}) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                @*<a asp-action="Index">Back to List</a>                              *@
                            </span>
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            }
        </dl>
    </dd>
    <dd>
        <a type="button" class="btn btn-primary" asp-controller="Vehicle" asp-action="Create">Add Vehicle </a>

    </dd>

    </dl>
</div>
<td>
</td>

